%p.zad1 If you click on the "Hide" button, I will disappear.
%button#hide Hide
%button#show Show
%p.zad2 Demonstrate fadeToggle() with different speed parameters.
%button.zad2 Click to fade in/out boxes
%br/
%br/
#div1{:style => "width:80px;height:80px;background-color:red;"}
%br/
#div2{:style => "width:80px;height:80px;background-color:green;"}
%br/
#div3{:style => "width:80px;height:80px;background-color:blue;"}
%br/
%br/
%p#ajdik pierwszy
%p#kidja drugi
